<turbo-frame id="products-search-bar" >

  <div class="w-full items-center h-full" ">
    <div class="bottom-unset px-16 inset-x-0 flex z-100 shadow-none w-full">
      <div class=" relative h-12 flex">
        <%= form_with(
          url: articles_searches_path,
          method: :get,
          data: {
            turbo_frame: "results",
            controller: "search-form"
          }
        ) do |form| %>
          <%= 
            form.text_field :keywords, 
              placeholder: 'Search articles', 
              minlength:3,
              data: {
                action: "input->search-form#search"
              }
          %>
      
        <% end %>
      </div>
    </div>
  </div>
</turbo-frame>

<turbo-frame id="results">
  <% if @articles.empty? %>
    There is no an article to show.
  <% end %>
  <% @articles.map do |article| %>
    <div class="py-4">
      <div class="text-lg"> <%= article.title %> </div>
      <div> <%= article.body %> </div>
    </div>
  <% end %>
</turbo-frame>