<turbo-frame id="results" class="min-w-96 w-1/2">
    
  <% @searches.map do |search| %>
    <div class="py-4">
      <div class="text-lg"> <%= search.keywords %> </div>
      <div> <%= search.created_at %> </div>
    </div>
  <% end %>
  
</turbo-frame>